body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: black;
}
header {
  width:320px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}
section {
  width: calc(1400px - 350px)
}
.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
h1, h2 {
  margin-top: 1em;
}
table {
  width:100%;
  border-collapse:collapse;
}
th {
  text-align: left;
  padding: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #aaaaaa;
}
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 2px solid #e5e5e5;
}
tr:last-child td {
  border-bottom: none;
}

table.demo td:nth-child(3) {
  font-size: smaller;
  width: 300px;
  max-width: 450px;
}

a:hover, a:focus {
  color:#069;
  text-decoration: underline;
}
