body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: black;
}
section {
  width: calc(1400px - 300px)
}
.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
h1, h2 {
  margin-top: 1em;
}
table {
  width:100%;
  border-collapse:collapse;
}
th {
  text-align: left;
  padding: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #aaaaaa;
}
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 2px solid #e5e5e5;
}
tbody tr:first-child td {
  padding-top: 15px;
}
tr:last-child td {
  border-bottom: none;
}
