<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <script>
      MathJax = {
        tex: {
          inlineMath: {'[+]': [['$', '$']]},
          displayMath: {'[+]': [['\\[', '\\]']]},
		  macros: {
            abs: ['{\\lvert #1 \\rvert}', 1],
            norm: ['{\\lVert #1 \\rVert}', 1]
          }
        }
      };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.time | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

		<span style="font-size: smaller;">
		  {% include toc.html html=content h_max=3 %}
		</span>
      </header>
      <section>

      {{ content }}

      <p><span style="font-size: smaller;"><a href="https://plante3.github.io">Back to Home.</a></span></p>

      </section>
      <footer>
        <p><small><a href="https://hkumath.hku.hk/web/index.php">HKU Mathematics</a> · Best viewed on desktop</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
